{{ attach_library('core/drupal.dialog.ajax') }}
 <div class="volunteer-registration-section" style="margin-bottom: 30px;">
	 <div class="description-pod">
	   <h7> {{ timeZone }} : {{ timeZoneTime }}</h7>
	 </div>
</div>